/* Reset de Estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  width: 150px;
  height: 50px;
  list-style: none;

}

/* Estilo para o corpo do site */
body {
  font-family: Arial, sans-serif;
  background-color: #656149;
  color: #ffffff;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Estilo para o cabeçalho */
header {
  background-color: #f5e2b8;
  border-color: #f5ba90;
  color: #656149;
  width: 100%;
  text-align: center;
  height: auto;
}

header h1 {
  font-size: 36px;
}

header nav ul {
  list-style: none;
  margin-top: 20px;
  text-align: center;

}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Estilo para as seções */
section {
  padding: 40px;
}

section h2 {
  font-size: 28px;
  color: #ffffff;
}

section p {
  font-size: 18px;
  color: #ffffff;
  margin-top: 20px;
}

/* Estilo para Sobre mim */
.sobre {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sobre img {
  max-width: 100px;
  height: auto;
}

/* Estilo para o botão de contato */
.button-contact {
  background-color: #4CAF50;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

/* Estilo para a galeria de fotos */
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2vw;
  padding: 40px;
}

.gallery-items {
  width: 340px;
  height: 340px;
  border: 5px solid #FFF;
  flex-grow: 1;
  transition: transform .5s linear;
}

.gallery-items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-items:hover {
  transform: scale(1.3);
}

.photo h3 {
  font-size: 20px;
  margin-top: 10px;
  color: #ffffff;
}

/* Estilo para contato */

.container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.container1 {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.form-group {
  display: block;
  margin-bottom: 15px;
  padding-left: 40px;
}

.form-group label {
  font-weight: bold;
  display: block;
}

.form-group input,
.form-group textarea {
  max-width: 10cm;
  width: 100%;
  padding: 20px;
  margin: 5px 0;
  border-radius: 5px;
  box-sizing: border-box;
}

.submit-button {
  text-align:left;
}

.submit-button button {
  background-color: #4CAF50;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  width: auto;
}

footer {
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #000;
  font-style: italic;
  padding-left: 40px;
}